/* Simple CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

main {
    height: 100%;
}

/* Typo */

html,
body {
    font-family: "Sora", sans-serif;
    width: 100%;
    height: 100%;
}

.txt-asso {
    line-height: 1.8;
    width: 80%;
    font-size: 20px;
}

.txt-deforestation {
    line-height: 2;
    font-size: 1.1em;
    width: 90%;
}

.txt-chiffre {
    font-size: 0.8em;
}

#navigation {
    font-size: 1.2em;
    font-weight: 400;
}

.chiffre {
    font-weight: 900;
    font-size: 5em;
}

.card-text {
    line-height: 1.9;
}

/* Images */

.rounded-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px #ffffff;
    padding: 5px;
}

.rounded-img-event {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px #0a775f;
    padding: 5px;
}

.rounded-img-contact {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px #0a775f;
    padding: 5px;
}

.card_img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.img-event {
    height: 500px;
    object-fit: cover;
}

/* Style du contenu */

.contact {
    height: 100%;
}

.presentation {
    background-color: #0a775f;
    color: #ffffff;
    box-shadow: 0px 7px 19px -12px rgb(0 0 0 / 45%);
}

.box {
    height: 100%;
    background-color: #0a775f;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0px 7px 19px -12px rgb(0 0 0 / 45%);
}

.nbr-hectares {
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

.event {
    width: 65%;
    box-shadow: 0px 7px 19px -12px rgb(0 0 0 / 45%);
}

.btn {
    background-color: #0a775f;
    color: #ffffff;
    box-shadow: 0px 7px 19px -12px rgb(0 0 0 / 45%);
}

/* Media Queries */

@media screen and (max-width: 575px) {
    #container-txt-asso {
        display: flex;
        justify-content: center;
    }

    .txt-asso {
        justify-content: center;
        text-align: center;
        font-size: 1.2em;
    }

    .rounded-img,
    .rounded-img-event {
        width: 200px;
        height: 200px;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    #container-txt-asso {
        display: flex;
        justify-content: center;
    }

    .txt-asso {
        justify-content: center;
        text-align: center;
    }

    .txt-deforestation {
        font-size: 1em;
    }

    .img-event {
        height: 300px;
    }

    .event {
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    .nbr-hectares {
        padding: 15px;
        width: 50%;
    }

    .chiffre {
        align-self: center;
        font-size: 3em;
    }

    .txt-chiffre,
    .txt-deforestation {
        text-align: center;
    }
}
