/* Simple CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Sora", sans-serif;
    width: 100%;
}

#navigation {
    font-size: 1.2em;
    font-weight: 400;
}

.presentation {
    background-color: #157575;
    color: #ffffff;
}

.txt-asso {
    padding-left: 1.5em;
    line-height: 1.8;
    width: 80%;
    font-size: 20px;
}

.rounded-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px #ffffff;
    padding: 5px;
}

.box {
    height: 100%;
    background-color: #ead7c7;
    font-size: 1em;
    font-weight: 900;
    border-radius: 5px;
    box-shadow: 3px 3px 18px -3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 3px 3px 18px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 18px -3px rgba(0, 0, 0, 0.6);
}

.card_img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media screen and (max-width: 500px) {
    #container-txt-asso {
        display: flex;
        justify-content: center;
    }

    .txt-asso {
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }

    .rounded-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    #container-txt-asso {
        display: flex;
        justify-content: center;
    }

    .txt-asso {
        justify-content: center;
        text-align: center;
    }
}
